<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分数获取 | 沃特陌</title>
    <style>
    .main{
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;left: 0;
    right: 0;
    bottom: 0;
    }
</style>
</head>
<body>
<div class="main">
    <h1>欢迎登录</h1>
    <form action="/login" method="POST">
        <p><input type="text" name="username" placeholder="用户名"></p>
<!--        <p><input type="password" name="password" placeholder="密码"></p>-->
        <p><input type="submit" value="获取分数"></p>
    </form>
</div>
</body>
</html>